

.navbar{
    background-color: #3b3333;
}
.navbar h2{
    color: #d6d5d4;
    font-family: 'Permanent Marker', cursive;
}


/*Starts here*/
body{
    /* background-color: #dd1313; */
    background-color: #f7f7f7 !important;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url("../images/olotusquare.jpg");
    /* background-repeat: no-repeat;
    background-size: 100% 100%; */
}
.navbar li{
    padding: 5px 10px;
    /* margin-right: 10px;  */
    display: inline-block;
    color: #d6d5d4;
    border-right: #de9138 solid thin;
    cursor: pointer;
    margin-left: -5px;
    transition: 0.4s;
}
.navbar li:first-child{
    padding: 5px 10px 5px 25px;
}
.navbar li:last-child{
    margin-right: 0px; 
    border-right: none;
    padding: 5px 20px 5px 10px;
}
.navbar li:hover{
    background-color: #ecdbc7;
    color: #6e3f08;
}
.navbar ul{
    overflow: hidden;
    padding: 0px;
    border: #de9138 solid thin;
    margin-top: 10px;
    list-style: none;
    border-radius: 20px;
}
.main{
    height: 88vh;
    /* background-color: #cccccc; */
    background-image: radial-gradient(#d6d2d2, rgba(177, 177, 158, 0.78), #7c480c);
}
.popup{
    display: none;
    position: absolute;
    height: 88vh;
    z-index: 1;
    background-color: #4a3f3f85;
    animation: appear 1s;
}
@keyframes appear{
    from{opacity: 0;}
    to{opacity: 1;}
}
.popup img{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.popup img:hover{
    -webkit-filter: opacity(30%); /* Safari */
    filter: opacity(30%);
}
.popuphistory, .popupprofile{
    height: 88vh;
    overflow: scroll;
    margin: 0px 100px;
    background-color: #c7c3c3;
    text-align: center;
}
.popupprofile{
    margin: 0px 200px;
}
.tablepic img:last-child{
    position: absolute;
    bottom: 4%;
    right: 42%;
    width: 50px;
    height: 50px;
}
.popupprofile .profilepic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.popupprofile .profilepic:hover{
    -webkit-filter: opacity(100%); /* Safari */
    filter: opacity(100%);
}
.tablepic{
    position: relative;
}

.popuphistory, .popupprofile{
    display: none;
}
.popuphistory h3{
    margin: 0px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #a7a5a5;
}
.popuphistory button, .popupprofile button{
    margin-bottom: 15px;
    color: #ad6718;
    border: #7c480c thin solid;
}
.popuphistory button:hover, .popupprofile button:hover{
    background-color: #ad6718;
    color: #e4e1de;
    border: #7c480c thin solid;
}
.theadc{
    background-color: #6e3f08 !important;
    margin: -2px 0px !important;
    color: #fff;
}
.checkcontainer{
    border: #7c480c thin solid;
    /* position: absolute;
    top: 45%;
    left: 30%; */
    display: inline-block;
    padding: 20px;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}
.col-sm-4{
    text-align: center;
}
.col-sm-4 img{
    
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin: 10px 20px 0px 0px;
}
.col-sm-4 h2{
    margin-top: 20px;
}
.col-sm-4 h3{
    font-size: 18px;
    margin: 20px 0px 0px -10px;
}